<!DOCTYPE html>
<html>
<head>
	<!-- 控制html解析、移动标记相关 -->
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <!-- IOS特定的meta -->
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="./css/loading.css">
    <link rel="stylesheet" type="text/css" href="./css/orderDetail.css">
    <link rel="stylesheet" type="text/css" href="./css/dora.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
    <div class="logo-panel">
        <img src="./imgs/logo.jpg" class="logo">
        <span id="shopName" class="shop-name"></span>
    </div>
    <div class="code-panel">
        <input id="code" class="code-input" placeholder="请输出提货码" />
    </div>
    <div id="getCodeInfoBtn" href="javascript:void(0);" class="code-submit-btn">确认</div>
    <div id="resetCodeBtn" href="javascript:void(0);" class="code-reset-btn">重置</div>
    <div class="url-panel"> 
        <span id="toFaqBtn" class="to-faq">常见问题</span> 
        <span id="toShopBtn" class="to-shop">进入店铺</span>   
    </div>
    <div id="orderDetailDialog" style="display: none;">
        <div id="orderDetailMask" class="order-detail-mask"></div>
        <div class="code-detail-panel">
            <div id="order-shipnum" class="order-shipnum">
                提货单:<span id="orderDetailCode">119087</span>
            </div>
            <div id="orderDetailPanel" class="od-panel"></div>
            <div id="applyCodeBtn" class="odi-confirm-btn disabled">确认</div>
        </div>
    </div>
    <div id="loadingPanel" class="loading-panel" style="display: none;">
        <div id="loading-icon" class="loading-icon">
            <div class="ball"></div>
            <div class="ball1"></div>
        </div>
    </div>
</body>
<footer>
	<script type="text/javascript" src="./libs/zepto-min.js"></script>
    <script type="text/javascript" src="./libs/dora.js"></script>
    <script type="text/javascript" src="./dist/min.js"></script>

   <!--  <script type="text/javascript" src="./utils/urlParams.js"></script>
    <script type="text/javascript" src="./conf/shopCN.js"></script>
	<script type="text/javascript" src="./index.js"></script> -->
</footer>
</html>