<!DOCTYPE html>
<html>
<head>
	<!-- 控制html解析、移动标记相关 -->
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <!-- IOS特定的meta -->
    <meta content="telephone=no" name="format-detection">
</head>
<body>
    <div id="shopName"></div>
	<input id="code" style="width: 100%;"></input>
	<input id="submitBtn" type="button" value="确认"></input>
</body>
<footer>
	<script type="text/javascript" src="./libs/zepto-min.js"></script>
    <script type="text/javascript" src="./libs/urlParams.js"></script>
    <script type="text/javascript" src="./conf/shopCN.js"></script>
	<script type="text/javascript" src="./index.js"></script>
</footer>
</html>