body {
	font-size: 16px;
	height: 100%;
}

.logo-panel {
	background-color: white;
	width: 100%;
	text-align: left;
	margin: 2rem auto 0;
	position: relative;
	border-bottom: .3rem dashed #eee;
}

.shop-name {
    position: absolute;
    top: 1.8rem;
    left: 9rem;
    font-size: 2rem
}

.logo {
	width: 7.5rem;
}

.code-panel {
	width: 95%;
	background-color: white;
	margin: 3rem auto 0;
	border-bottom: .2rem solid #eee;
}

.code-input {
	height: 3rem;
	color: #000;
	background: 0;
	padding-left: 1rem;
	font-size: 1.6rem;
	border: 0;
}

.code-submit-btn {
	width: 95%;
	height: 3rem;
	line-height: 3rem;
	background: #b71c1c;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	display: block;
	margin: 1.5rem auto 0;
}

.code-reset-btn {
	width: 95%;
	height: 3rem;
	line-height: 3rem;
	border: 1px solid #b71c1c;
	border-radius: 4px;
	color: #b71c1c;
	font-size: 1rem;
	text-align: center;
	display: block;
	margin: 1.5rem auto 0;
}

.url-panel {
	width: 95%;
	margin: 1rem auto 0;
	position: relative;
	overflow: hidden;
}

.to-shop {
	float: right;
	margin-right: -10px;
	color: #b71c1c;
	font-size: 1.2rem;
	padding: 15px 10px;
}

.to-faq {
	float: left;
	margin-left: -10px;
	color: #b71c1c;
	font-size: 1.2rem;
	padding: 15px 10px;
}