.order-detail-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	left: 0px;
	top: 0px;
	z-index: 0;
}

.code-detail-panel {
	position: absolute;
	background-color: rgba(255, 255, 255,1);
	width: 90%;
	height: 432px;
	left: 50%;
	top: 50%;
	margin-left: -45%;
	margin-top: -216px;
	z-index: 100;
}

.od-panel {
	margin-bottom: 1rem;
	padding: 0 0.625rem;
	height: 20rem;
	overflow: scroll;
}

.od-orderNo {
	margin-bottom: .5rem;
	border-bottom: .1rem dashed #666;
	font-size: 0.75rem;
	height: 2rem;
	line-height: 2rem;
}

.od-list-item { 
	background-color: #ffffff;
	margin-bottom: 1.5rem;
	padding-bottom: 1rem;
	border-bottom: .3rem solid #eee;
 	box-shadow: 5px 3px 5px #eee;
}

.od-item {
	position: relative;
}

.od-product-img-panel {
	line-height: 5rem;
    float: left;
}

.od-product-img-panel img {
	width: 5rem;
	vertical-align: middle;
}

.od-info {
	font-size: 1rem;
	color: #373737;
	padding-left: 6rem;
	padding-right: 1rem;
}

.odi-title {
	font-size: 1.2rem;
	font-weight: bold;
	margin: .3rem 0;
	width: 100%
}

.odi-title span {
	word-wrap: break-word;
}

.odi-price {
	text-align: left;
	margin: .1rem 0;
	color: red;
}

.odi-num {
	text-align: left;
	margin: .1rem 0;
	color: red;
}

.odi-total-price {
	text-align: left;
	color:red;
}

.order-shipnum {
	height: 3rem;
	font-size: 1rem;
	line-height: 3rem;
	padding: 0 0.625rem;
	color: #000;
	font-weight: bolder;
}

.odi-confirm-btn {
	height: 2rem;
	width: 100%;
	background-color: #e53935;
	color: #ffffff;
	text-align: center;
	line-height: 2rem;
	font-size: 1rem;
	z-index: 999;
}

.disabled {
	background: #454545;
	color: #ffffff;
}